config/database.yml
config/travis.yml
config/travis.pro.yml
play
.jdk-overlay
.*env
coverage/

# Ignore editor specific configs
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.generators
.rakeTasks

# System Files
.DS_Store
Thumbs.db
