language: ruby
rvm:
- 2.4.1
sudo: required
dist: trusty
cache:
  bundler: true
  directories:
  - ${HOME}/perl5
  - ${HOME}/.cache
services:
- redis
- rabbitmq
addons:
  postgresql: 9.6
  apt:
    packages:
    - postgresql-server-dev-9.6
before_install:
- script/install-sqitch
- script/install-partman
- eval "$(perl -I ~/perl5/lib/perl5/ '-Mlocal::lib')"
- gem update bundler
before_script:
- bundle exec rake setup

jobs:
  include:
    - stage: "Testing time"
    - stage: ":ship: it to Quay.io"
      sudo: required
      dist: trusty
      install: skip
      before_script: skip
      script: ./script/docker-build-and-push
